<div class="row">
    <div class="col">
        <div class="card-deck">
            <div class="card">
                <h5 class="card-header" routerLink="/gravity-calculator" routerLinkActive="active">Gravity Calculators</h5>
                <div class="card-body">
                    <app-gravity-calculator></app-gravity-calculator>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header" routerLink="/picture-library" routerLinkActive="active">Picture Library</h5>
                <div class="card-body">
                    <app-picture-library></app-picture-library>
                </div>
            </div>
        </div>
    </div>
</div>
