<div class="jumbotron">

  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="calcDistance()">Calc</button>
        </span>
        <input type="number" [(ngModel)]="distance" class="form-control" placeholder="Distance" >
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" >m</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="calcGravity()">Calc</button>
        </span>
        <input type="number" [(ngModel)]="gravity" class="form-control" placeholder="Gravity" >
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" >m/s^2</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="calcTime()">Calc</button>
          </span>
          <input type="number" [(ngModel)]="time" class="form-control" placeholder="Time" >
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" >s</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div><!-- /.jumbotron -->