<table>
  <tbody>
    <tr>
      <td>
          <button class="btn">{{topleft}}</button>
      </td>
      <td>
        <button class="btn">{{topcenter}}</button>
      </td>
      <td>
        <button class="btn">{{toplright}}</button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn"></button>
      </td>
      <td>
        <button class="btn"></button>
      </td>
      <td>
        <button class="btn"></button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn"></button>
      </td>
      <td>
        <button class="btn"></button>
      </td>
      <td>
        <button class="btn"></button>
      </td>
    </tr>
  </tbody>
</table>